html {
    font-size: 16px;
}

/* Header */

header .content {
    display: flex;
    height: 85px;
    justify-content: space-between;
    align-items: center;
}

header .content a.logo {
    margin-left: 1.8rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    font-family: "Roboto";
}

header .content nav.desktop ul {
    display: flex;
    font-size: 1rem;
    color: #4A4A4A;
    line-height: 1.6;
    justify-content: flex-end;
}

header .content nav.desktop ul li {
    margin: 0 1.875rem;
    font-family: "Roboto";
}

header .content nav.desktop img.icon {
    height: 1rem;
    width: auto;
    padding: 0 0.5rem;
}


/* Sign Up Section */


.main-content {
    margin: 0;
    padding: 0;
    width: 100%;
}
.main-content .banner{
    background-image: url(/resources/images/banner-landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 43.5rem;
}

.main-content .banner #sign-up-cta {
    width: 568px;
    text-align: center;
    background-color: #9DC20A;
    border-radius: 4px;
    position: relative;
    top: 170px;
    left: 100px;
    display: flex;
    justify-content: center;
}

.main-content .banner #sign-up-cta .content {
    width: 408px; 
}

.main-content .banner #sign-up-cta .content .header {
    color: white;
    font-size: 3.125rem;
    font-family: "Rubik";
    line-height: 1.4;
    margin-top: 2rem;
}

.main-content .banner #sign-up-cta .content .email {
    color: white;
    font-size: 1.25rem;
    font-family: "Roboto";
    line-height: 1.4;
    margin-top: 0.75rem;
}

.main-content .banner #sign-up-cta .content .button {
    display: flex;
    background-color: #4A4A4A;
    width: 408px;
    height: 64px;
    border-radius: 4px;
    color: white;
    font-size: 1.25rem;
    font-family: 'Roboto';
    margin-top: 1.625rem;
    margin-bottom: 3.5rem;
    align-items: center;
    justify-content: center;
}

/* Features Section */

#features-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    background-color: lightgray;
    height: 100%;
}

#features-section .feature {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 2rem;
    padding-top: 1rem;
    background-color: white;
}

#features-section .feature .center {
    height: 100%;
    width: 100%;
}

#features-section .feature .center .image-container img {
    height: 65%;
    width: 90%;
}

#features-section .feature .center .content h2 {
    color: #4A4A4A;
    font-size: 2.25rem;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 1.2;
    margin-top: 2.5rem;
    width: 90%;
    margin-left: 5%;
}

#features-section .feature .center .content h3 {
    font-family: "Roboto";
    margin-top: 0.5rem;
    margin-left: 5%;
    padding-bottom: 2.5rem;
    width: 90%;
}

/* Filter Section */

#filters-section {
    text-align: center;
    background-color: #5B5B5B;
    margin-top: 0;
}

#filters-section .content {
    padding-top: 4rem;
}

#filters-section .content h2 {
    color: white;
    font-size: 2.25rem;
    font-family: "Roboto";
    font-weight: bold;
}

#filters-section .content h3 {
    color: white;
    font-family: "Roboto";
}

#filters-section .images-container {
    display: flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}

#filters-section .images-container .image-container img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Quote Section */

#quotes-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.875rem;
    background-color: lightgrey;
}

#quotes-section .center {
    text-align: center;
}

#quotes-section .center span.quote {
    font-family: Palatino;
    font-style: italic;
    font-size: 1.875rem;
    line-height: 1.1;
    color: #4A4A4A;
}

#quotes-section .center img.quote-citation {
    margin-left: 1.875rem;
}

/* Footer */

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.875rem;
    background-color: #9B9B9B;
    color: white;
    font-size: 0.75rem;
    font-family: "Roboto";
}

footer .content span.copyright {
    margin-left: 2rem;
} 

footer .content span.location {
    margin-right: 2rem;
}

@media only screen and (min-width: 1025px) and (max-width: 1420px) {
    header .content .mobile {
        display: none;
    }
}

@media only screen and (min-width: 431px) and (max-width: 1024px) {

    .main-content .banner {
        background-image: url(/resources/images/banner-landingpage.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 28rem;
    }

    .main-content .banner #sign-up-cta {
        background-color: transparent;
        position: static;
    }

    .main-content .banner #sign-up-cta .content .email {
        display: none;
    }

    header .content nav.desktop {
        display: flex;
        align-items: center;
    }

    header .content nav.desktop ul {
        position: absolute;
        right: 5rem;
    }

    header .content .mobile ul li a.button {
        display: flex;
        color: white;
        font-family: "Roboto";
        height: 1rem;
        width: auto;
        background-color: #9DC20B;
        border-radius: 4px;
        padding: 3px 8px;
        margin-right: 2rem;
    }

    header .content .mobile ul li a img {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    header .content .desktop {
        display: none;
        background-color: black;
    }
}